@using UniversityRegistrationSystemApp.Model
@model ClassRoom

@{
    ViewBag.Title = "Allocate";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Allocation</title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet"/>

    <style>
        #allocateForm label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
            color: red;
        }
    </style>
</head>

<body>

    <div class="center"><h3>Classroom Allocation</h3></div>
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "allocateForm"}))
{
    <table class="center1">
        <tr>
            <td>
                @Html.LabelFor(x => x.DepartmentId)
            </td>
            <td>
                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.departments, "Value", "Text"))
                @Html.ValidationMessageFor(x => x.DepartmentId)
            </td>
        </tr>
        @*bangla dropdown*@
        <tr>
            <td>@Html.LabelFor(x => x.CourseId)</td>
            <td>
                <select id="CourseId" name="CourseId">
                    <option value="">--Select--</option>
                </select>
                @Html.ValidationMessageFor(x => x.CourseId)
            </td>
        </tr>
        @*courseId check*@
        @*<tr>
                <td>@Html.LabelFor(x => x.Flag)</td>
                <td>
                    @Html.TextBoxFor(x=>x.Flag)
                </td>
            </tr>*@

        <tr>
            <td>
                @Html.LabelFor(x => x.RoomId)
            </td>
            <td>
                @Html.DropDownListFor(x => x.RoomId, new SelectList(ViewBag.rooms, "Value", "Text"))
                @Html.ValidationMessageFor(x => x.RoomId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.DayId)
            </td>
            <td>
                @Html.DropDownListFor(x => x.DayId, new SelectList(ViewBag.days, "Value", "Text"))
                @Html.ValidationMessageFor(x => x.DayId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.TimeFrom)
            </td>
            <td>
                <input type="time" id="TimeTo" name="TimeFrom"/>
                @Html.ValidationMessageFor(x => x.TimeFrom)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.TimeTo)
            </td>
            <td>
                <input type="time" id="TimeTo" name="TimeTo"/>
                @Html.ValidationMessageFor(x => x.TimeTo)
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" value="Allocate"/>
            </td>
        </tr>
    </table>

    if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $("#allocateForm").validate({
            rules: {
                DepartmentId: {
                    required: true
                },
                CourseId: {
                    required: true
                },
                RoomId: {
                    required: true
                },
                DayId: {
                    required: true
                },

                TimeFrom: {
                    required: true
                },

                TimeTo: {
                    required: true
                }



            },

            messages: {
                DepartmentId: "Please enter Department Name",
                CourseId: "Please enter Course Code",
                RoomId: "Please enter Room ID",
                DayId: "Please enter Day Id",
                TimeFrom: "Please enter Time Form",
                TimeTo: "Please enter Time To"
            }

        });

    </script>


<script>

    $(document).ready(function() {

        $("#DepartmentId").change(function() {

            var departmentId = $("#DepartmentId").val();


            var json = { deptId: departmentId };


            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllCoursesByDepartmentId", "AllocateClassroom")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function(data) {

                    $("#CourseId").empty();


                    $.each(data, function(key, value) {

                        $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');

                    });

                }
            });

        });
        //forcourseId Check
        //$("#CourseId").change(function() {
        //    var courseId = $("#CourseId").val();
        //    //$("#Name").val(courseId);
        //    $("#Flag").val(courseId);
        //});
    });
    


</script>






</body>

</html>
