@using UniversityRegistrationSystemApp.Model
@model Teacher
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    List<Department> DepartmentList = ViewBag.DepartmentList;
    List<Designation> DesigantionList = ViewBag.DesignationList;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet"/>
    <style>
        #teacherSave label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
            color: red;
        }
    </style>

</head>

<body>

    <div class="center"><h3>Save Teacher</h3></div>

<form id="teacherSave" method="POST">
    <table class="center1">
        <tr>
            <td><label for="Name">Name</label></td>
            <td><input id="Name" name="Name" type="text"/>
                @Html.ValidationMessageFor(x => x.Name)
            </td>
        </tr>
        <tr>
            <td><label for="Address">Address</label></td>
            <td><input id="Address" name="Address" type="text"/>
                @Html.ValidationMessageFor(x => x.Address)
            </td>
        </tr>
        <tr>
            <td><label for="Email">Email</label></td>
            <td><input id="Email" name="Email" type="text"/>
                @Html.ValidationMessageFor(x => x.Email)
            </td>
        </tr>
        <tr>
            <td><label for="ContactNo">ContactNo</label></td>
            <td><input id="ContactNo" name="ContactNo" type="text"/>
                @Html.ValidationMessageFor(x => x.ContactNo)
            </td>
        </tr>
        <tr>
            <td><label for="DesignationId">Designation</label></td>
            <td>
                <select id="DesignationId" name="DesignationId">
                    <option value="">--Select--</option>
                    @foreach (Designation designation in DesigantionList)
                    {
                        <option value="@designation.Id">@designation.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.DesignationId)
            </td>
        </tr>
        <tr>
            <td><label for="DepartmentId">DepartmentId</label></td>
            <td>
                <select id="DepartmentId" name="DepartmentId">
                    <option value="">Department</option>
                    @foreach (Department department in DepartmentList)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.DepartmentId)
            </td>
        </tr>
        <tr>
            <td><label for="CreditTaken">CreditTaken</label></td>
            <td><input id="CreditTaken" name="CreditTaken" type="text"/>
                @Html.ValidationMessageFor(x => x.CreditTaken)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"/></td>
        </tr>
    </table>
    @if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }
</form>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $("#teacherSave").validate({
            rules: {
                Name: {
                    required: true
                },
                Address: {
                    required: true
                },
                Email: {
                    required: true
                },
                ContactNo: {
                    required: true

                },

                DesignationId: {
                    required: true
                },

                DepartmentId: {
                    required: true
                },
                CreditTaken: {
                    required: true
                }


            },

            messages: {
                Name: "Please enter Name",
                Address: "Please enter Address",
                Email: "Please enter Email",
                ContactNo: "Please enter Contact No",
                DesignationId: "Please enter Degisnation",
                DepartmentId: "Please enter Department",
                CreditTaken: "Please enter Credit Taken"
            }

        });

    </script>

</body>

</html>

