@using UniversityRegistrationSystemApp.Model
@model StudentEnroll
@{
    ViewBag.Title = "EnrollSave";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    List<Student> regList = ViewBag.RegList;
    //List<Course> CourseList = ViewBag.CourseList;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enroll</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
    <style>
        #registerform label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
            color: red;
        }
    </style>

    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#Date').datepicker({
                'format': 'yyyy-mm-dd',
                'autoclose': true
            });
        })
    </script>
</head>
<body>

    <div class="center1"><h3>Student Enroll</h3></div>

<form id="enrolol" method="POST">
    <table class="center1">
        <tr>
            <td><label for="StudentId">RegList</label></td>
            <td>
                <select id="StudentId" name="StudentId">
                    <option value="">--Select--</option>
                    @foreach (Student student in regList)
                    {
                        <option value="@student.Id">@student.RegistrationId</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.StudentId)
            </td>
        </tr>

        <tr>
            <td><label for="Name">Name</label></td>
            <td><input id="Name" name="Name" type="text"/></td>
        </tr>
        <tr>
            <td><label for="Email">Email</label></td>
            <td><input id="Email" name="Email" type="text"/></td>
        </tr>
        <tr>
            <td><label for="Department">Department</label></td>
            <td><input id="Department" name="Department" type="text"/></td>
        </tr>

        <tr>
            <td><label for="CourseId">CourseList</label></td>
            <td>
                <select id="CourseId" name="CourseId">
                    <option value="">--Select--</option>
                    @*@foreach (Course course in CourseList)
            {
                <option value="@course.Id">@course.Code</option>
            }*@
                </select>
                @Html.ValidationMessageFor(x => x.CourseId)
            </td>
        </tr>

        <tr>
            <td>
                <label for="Date">Date</label>
            </td>
            <td>
                <input autocomplete="off" id="Date" class="datepicker" type="text" name="Date"/>
                @Html.ValidationMessageFor(x => x.Date)
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Enroll"/></td>
        </tr>


    </table>
    @if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }
</form>


    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $("#enrolol").validate({
            rules: {
                StudentId: {
                    required: true
                },
                CourseId: {
                    required: true
                },
                Date: {
                    required: true
                }



            },

            messages: {
                StudentId: "Please enter Student",
                CourseId: "Please enter Course",
                Date: "Please enter Date"
            }

        });

    </script>




<script>


    // $("#RegList").change(function () {

    //cascading dropdownlist
    $("#StudentId").change(function() {
        var studentId = $("#StudentId").val();
        // alert("show dept id " + studentId);
        var json = { studentId: studentId };

        //call for course dropdown
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCourseByStudentId", "EnrollCourse")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function(data) {
                $("#CourseId").empty();
                $.each(data, function(key, value) {

                    $("#CourseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');
                });
            }

        });


        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllInfoByStudentId", "EnrollCourse")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function(data) {
                if (data != null) {
                    $('#Name').val(data.Name);
                    $('#Email').val(data.Email);
                    $('#Department').val(data.DepartmentId);
                } else {
                    alert("Something went wrong");
                }
            }

        });


    });

    // });
</script>

</body>
</html>


